body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form-input .custom-button {
  padding: 10px 70px;
}

.form-title {
  padding: 10px;
  background-color: #3498db;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-title {
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #17a2b8;
}

.list-title > p {
  margin-top: 10px;
  color: white;
  margin-left: 5px;
  font-size: 20px;
}

.form-title > p {
  margin-top: 10px;
  color: white;
  margin-left: 5px;
  font-size: 20px;
}

.list-group-item:not(:last-child) {
  margin-bottom: 10px; /* Atur margin bawah antara elemen, disesuaikan sesuai keinginan Anda */
}

.form-label {
  margin-left: 5px;
}
