.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: black;
}

.navbar-brand > img {
  width: 60%;
}

.navbar-brand {
  margin-left: 5vh;
}

.navbar-right > button {
  row-gap: 2px;
}
