.BackgroundStyle {
  background-image: url("../../assets/img/hero.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.Containers {
  margin-top: 25rem;
  margin-bottom: 20rem;
}

.Containers > p {
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.Containers > h1 {
  font-family: "Roboto";
  font-weight: 500;
  color: white;
}
