*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid black;
  outline: none;
  background-color: aquamarine;
}

.calculator-grid > button:hover {
  background-color: rgb(242, 217, 185);
}

.span-two {
  grid-column: span 2;
}

.custom-span {
  width: 400px;
  height: 70px;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.outputs {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-column: 1 / -1;
  background-color: black;
  color: rgb(212, 20, 20);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 15px;
  word-wrap: break-word;
  word-break: break-all;
}

.outputs .previous-operand {
  color: rgb(103, 110, 110);
  font-size: 1.5rem;
}
.outputs .current-operand {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}
